<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourzeroeight.crm.mapper.FilesMapper">
  <resultMap id="BaseResultMap" type="com.fourzeroeight.crm.bean.Files">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="descs" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="custid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, url, name, title, descs, type, createtime, custid
  </sql>
  <select id="getListBySearch" parameterType="com.fourzeroeight.crm.bean.Search" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from files
    <where>
      <if test="search !=null and search != ''">
        <choose>
          <when test="searchName !='custname'">
            and ${searchName} like CONCAT('%', #{search}, '%')
          </when>
          <otherwise>
            and custid in (select id from customers where name like CONCAT('%', #{search}, '%'))
          </otherwise>
        </choose>
      </if>
      <if test="start !=null">
        and createtime &gt;= #{start}
      </if>
      <if test="over !=null">
        and createtime &lt;= #{over}
      </if>
      <if test="s1 !=null and s1 != ''">
        and title like CONCAT('%', #{s1}, '%')
      </if>
      <if test="s2 !=null">
        and type = #{s2}
      </if>
    </where>
    ORDER BY ${orderName} ${order},id  LIMIT #{offset},#{limit}
  </select>

  <select id="getCountBySearch" parameterType="com.fourzeroeight.crm.bean.Search" resultType="int">
    select count(1) from files
    <where>
      <if test="search !=null and search != ''">
        <choose>
          <when test="searchName !='custname'">
            and ${searchName} like CONCAT('%', #{search}, '%')
          </when>
          <otherwise>
            and custid in (select id from customers where name like CONCAT('%', #{search}, '%'))
          </otherwise>
        </choose>
      </if>
      <if test="start !=null">
        and createtime &gt;= #{start}
      </if>
      <if test="over !=null">
        and createtime &lt;= #{over}
      </if>
      <if test="s1 !=null and s1 != ''">
        and title like CONCAT('%', #{s1}, '%')
      </if>
      <if test="s2 !=null">
        and type = #{s2}
      </if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="com.fourzeroeight.crm.bean.Files">
    insert into files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="descs != null">
        descs,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="custid != null">
        custid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="custid != null">
        #{custid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fourzeroeight.crm.bean.Files">
    update files
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        descs = #{descs,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="custid != null">
        custid = #{custid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>