<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourzeroeight.crm.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.fourzeroeight.crm.bean.Roles">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="descs" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, descs
  </sql>
  <select id="getListBySearch" parameterType="com.fourzeroeight.crm.bean.Search" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from roles
    <where>
      <if test="search !=null and search != ''">
        and ${searchName} like CONCAT('%', #{search}, '%')
      </if>

    </where>
    ORDER BY ${orderName} ${order},id  LIMIT #{offset},#{limit}
  </select>

  <select id="getCountBySearch" parameterType="com.fourzeroeight.crm.bean.Search" resultType="int">
    select count(1) from roles
    <where>
      <if test="search !=null and search != ''">
        and ${searchName} like CONCAT('%', #{search}, '%')
      </if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="com.fourzeroeight.crm.bean.Roles">
    insert into roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="descs != null">
        descs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fourzeroeight.crm.bean.Roles">
    update roles
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        descs = #{descs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>